:root {
    --main-bg-color: #222328;
    --text-primary-color: #FFF;
    --text-secondary-color: #C7C7C9;
    --text-tertiary-color: #86888E;
    --text-link-color: #7DC0EA;
    --button-hover-color: #292C3E;
    --button-border-color: #3A3D4D;

    font-family: sans-serif;
}

body {
    background-color: var(--main-bg-color);
}

h1, h2 {
    user-select: none;
}

h1 {
    color: var(--text-primary-color);
}

h2 {
    color: var(--text-secondary-color);
}

#db-view {
    height: 100%;
}

#db-view body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--text-secondary-color);
}

#db-view #main {
    display: flex;
    flex-grow: 1;
}

#file-buttons {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

#file-buttons .button {
    background-color: var(--main-bg-color);
    color: var(--text-secondary-color);
    border: 1px solid var(--button-border-color);
    font-size: 1rem;
    margin-bottom: 0.5em;
    padding: 0.5em 1em;
    text-align: left;
    user-select: none;
}

#file-buttons .button:hover {
    background-color: var(--button-hover-color);
    color: var(--text-primary-color);
}

#file-buttons .button i {
    padding-right: 0.5em;
}

#file-operations {
    display: flex;
}

#item {
    flex-grow: 1;
}

#item-containers a {
    user-select: none;
}

#item-containers a::before {
    content: '>';
    padding: 0 0.25em;
}

#item-containers a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--text-primary-color);
}

#item-containers a:last-child:hover {
    cursor: unset;
    text-decoration: unset;
    color: unset;
}

#item-list {
    list-style-type: none;
    padding: 0;
}

#item-list li:hover {
    color: var(--text-primary-color);
    cursor: pointer;
}

#nav-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--button-border-color);
    padding: 1em;
}

#recent-files {
    padding-left: 1em;
    overflow: hidden;
}

#recent-files h2 {
    margin: 0;
}

#recent-file-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#recent-file-list a {
    color: var(--text-link-color);
}

#recent-file-list a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#recent-file-list span {
    color: var(--text-tertiary-color);
    padding-left: 0.75em;
}
